/*@value alma: #0c77f8;*/
/*@value red: #ff0000;*/
/*@value green: #aaf200;*/

@value lightGreen: #8fB9A8;
@value lightYellow: #FEFAD4;
@value darkRed: #765D69;
@value red: #F1828D;
body, html {
  height: 100%;
  margin: 0;
  font-size:18px;
  font-family: Arial;
  background-image: linear-gradient(#8fB9A8, #8fB9A8, #FCD0BA, #F1828D, #765D69, #765D69);
}

/*#root {*/
/*  height: 100%;*/
/*  display: flex;*/
/*  align-content: center;*/
/*}*/
